@import '../styles/variables';

$max-width: 500px;

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 map-get($spacing-sizes, '2') map-get($spacing-sizes, '1')
    map-get($spacing-sizes, '2');
  width: calc(
    100% - map-get($spacing-sizes, '2') - map-get($spacing-sizes, '2')
  );
}

.heading,
.footer {
  padding-left: map-get($spacing-sizes, '2');
}

.heading {
  padding-top: map-get($spacing-sizes, '1');
  max-width: $max-width;
  margin-bottom: map-get($spacing-sizes, '1');
}

.paletteContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacing-sizes, '1');
  max-width: $max-width;
  word-break: break-all;
  white-space: pre-wrap;
}

.colorsContainer {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: map-get($spacing-sizes, '3');
}

.color {
  height: 46px;
  margin-bottom: map-get($spacing-sizes, '6');
  margin-right: map-get($spacing-sizes, '6');
  position: relative;
  width: 46px;
}

.color:last-child {
  margin-right: 0px;
}

.sourcesContainer {
  overflow: auto;
  width: 100%;
}

.imageContainer {
  cursor: pointer;
  height: 200px;
  position: relative;
  margin-bottom: map-get($spacing-sizes, '4');
}

.footer {
  font-size: map-get($font-sizes, '5');
  display: flex;
  padding-bottom: map-get($spacing-sizes, '1');
}

@media only screen and (min-width: $tablet) {
  .footer,
  .heading {
    padding-left: map-get($spacing-sizes, '1');
  }
  .container {
    padding: 0 map-get($spacing-sizes, '1') map-get($spacing-sizes, '1')
      map-get($spacing-sizes, '1');
    width: calc(
      100% - map-get($spacing-sizes, '1') - map-get($spacing-sizes, '1')
    );
  }
}

@media only screen and (min-width: $desktop-small) {
  .footer,
  .heading,
  .container {
    padding-left: calc($max-width / 3);
  }
}
